# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.profraw

# Swift Package Manager
.build/
.swiftpm/
Packages/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Carthage / CocoaPods (in case)
Carthage/Build/
Pods/

# Editors
.vscode/
.idea/
*.swp

# Secrets / env
.env
.env.local
*.entitlements.local
